{% extends 'base.html.twig' %}

{% block title %}Edit InterestGroup{% endblock %}

{% block body %}
    <h1>Edit InterestGroup</h1>

    {{ include('interest_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_interest_group_index') }}">back to list</a>

    {{ include('interest_group/_delete_form.html.twig') }}
{% endblock %}
